<%= javascript 'contents_editor' %>

<%= form_for([@contentable, @content], :html => { :class => 'form-horizontal' }) do |f| %>
  <%= f.error_messages %>

  <fieldset>
    <legend><%= controller.action_name.capitalize %> content</legend>

    <div class="control-group">
      <%= f.label :category_ids, "Category", :class => 'control-label' %><br />
      <div class="controls">
        <%= f.collection_select :category_ids, Category.order(:name), :id, :name, {}, { :multiple => true } %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :sub_category_ids, "Sub Category", :class => 'control-label' %><br />
      <div class="controls">
        <%= f.select :sub_category_ids, grouped_options_for_select(SubCategory.for_select(User.current.id), f.object.sub_category_ids), {}, { :multiple => true } %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :name, :class => 'control-label' %><br />
      <div class="controls">
        <%= f.text_field :name, :class => 'text_field' %>
      </div>
    </div>

    <div class="tabbable tabs-right"> <!-- Only required for left/right tabs -->
      <ul class="nav nav-tabs">
        <li class="<%= "active" if !f.object.ck_name %>"><a href="#tab1" data-toggle="tab">Upload file</a></li>
        <li class="<%= "active" if f.object.ck_name %>"><a href="#tab2" data-toggle="tab">Create text file</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane <%= "active" if !f.object.ck_name %>" id="tab1">
          <div class="control-group">
            <%= f.label :file, :class => 'control-label' %><br />
            <div class="controls">
              <%= f.file_field :file, :class => 'text_field' %><br />

              <% if f.object.file? %>
                <%= File.basename(f.object.file.url) %>
              <% end %>
              <%= f.hidden_field :file_cache %>
            </div>
          </div>
        </div>
        <div class="tab-pane <%= "active" if f.object.ck_name %>" id="tab2">
          <div class="control-group">
            <%= f.label :ck_name, "File name", :class => 'control-label' %><br />
            <div class="controls">
              <%= f.text_field :ck_name, :class => 'text_field' %>
              <%= f.select(:ck_extension, options_for_select(Array[*Content::EXTENSIONS.collect {|v,i| [v, Content::EXTENSIONS.index(v)] }], :selected => f.object.ck_extension)) %>
            </div>
          </div>

          <div class="control-group">
            <%= f.label :ck_content, "Conent", :class => 'control-label' %><br />
            <div class="controls">
              <%= f.cktext_area :ck_content, :class => "someclass", toolbar: "MpubToolbar" %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="action-group">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <% if current_user.has_role? :admin %>
        <%= link_to 'Cancel', user_url(:id => User.current.id), :class => 'btn' %>
      <% else %>
        <%= link_to 'Cancel', contentable_url, :class => 'btn' %>
      <% end %>
    </div>
  </fieldset>
<% end %>