<table class="table table-hover sortable">
  <tr>
    <th></th>
    <th>File</th>
    <th>Extension</th>
    <th>File size</th>
    <th>Content type</th>
    <th></th>
  </tr>

<% @contents.each do |content| %>
  <tr>
    <td><%= link_to(iconize_is_active(content.active), activate_content_path(content), method: :put) if can? :activate, Content %></td>
    <td><%= content.name %></td>
    <td><%= link_to File.basename(content.file.url), mpub_file_url(id: content.id, uploader: content.file, cname: c_name(content)) %></td>
    <td><%= content.extension %></td>
    <td><%= content.file_size %></td>
    <td><%= content.content_type %></td>
    <td>
      <div class="btn-group">
        <%= link_to(iconize_edit_text, edit_content_path(content), :class => 'btn btn-mini') if can? :edit, Content %>
        <%= link_to(iconize_destroy_text, content, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini btn-danger') if can? :destroy, Content %>
      </div>
    </td>
  </tr>
<% end %>
</table>
