<table class="table table-hover sortable">
  <tr>
    <th></th>
    <th><%= sortable "name", "File", "contents" %></th>
    <th><%= sortable "extension", "Extension", "contents" %></th>
    <th><%= sortable "file_size", "File size", "contents" %></th>
    <th><%= sortable "content_type", "Content type", "contents" %></th>
    <th></th>
  </tr>

<% @contents.each do |content| %>
  <tr class="content_<%= content.id %> <%= "deactivated" if !content.active %>">
    <td><%= link_to(iconize_is_active(content.active), polymorphic_path([:activate, @contentable, content]), method: :put, remote: true, class: 'activate_link') if can? :activate, Content %></td>
    <td><%= link_to content.name, mpub_file_url(id: content.id, uploader: content.file, cname: c_name(content)) %></td>
    <td><%= content.extension %></td>
    <td><%= content.file_size %></td>
    <td><%= content.content_type %></td>
    <td>
      <div class="btn-group">
        <%= link_to(iconize_show_text, [@contentable, content], class: 'btn btn-mini') if can? :show, Content %>
        <%= link_to(iconize_edit_text, [:edit, @contentable, content], class: 'btn btn-mini') if can? :edit, Content %>
        <%= link_to(iconize_unlink_text, [:unlink, @contentable, content], method: :put, class: 'btn btn-mini btn-warning') if !@contentable.nil? && can?(:unlink, Content) %>
        <%= link_to(iconize_destroy_text, content, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-mini btn-danger') if can? :destroy, Content %>
      </div>
    </td>
  </tr>
<% end %>
</table>