<p>
  <b>Categories:</b>
  <ul>
    <% @content.categories.each do |category| %>
      <li><%= category.name %></li>
    <% end %>
  </ul>
</p>

<p>
  <b>Sub categories:</b>
  <ul>
    <% @content.sub_categories.each do |sub_category| %>
      <li><%= sub_category.name %></li>
    <% end %>
  </ul>
</p>

<p>
  <b>Name:</b>
  <%= @content.name %>
</p>

<p>
  <b>File:</b>
  <%= link_to File.basename(@content.file.url), mpub_file_url(id: @content.id, uploader: @content.file, cname: c_name(@content)) %>
</p>

<p>
  <b>Extension:</b>
  <%= @content.extension %>
</p>

<p>
  <b>File size:</b>
  <%= @content.file_size %>
</p>

<p>
  <b>Content type:</b>
  <%= @content.content_type %>
</p>

<p>
  <b>MD5:</b>
  <%= @content.md5_sum %>
</p>

<p>
  <b>Is Active?</b>
  <%= @content.active %>
</p>

<div class="form-actions">
  <% if can? :edit, Content %>
    <%= link_to 'Edit', [:edit, @contentable, @content], :class => 'btn' %> |
  <% end %>

  <%= link_to 'Back', contentable_url, :class => 'btn' %>
</div>