<%= form_for(@customization, :html => { :class => 'form-horizontal' }) do |f| %>
  <%= f.error_messages %>

  <fieldset>
    <legend><%= controller.action_name.capitalize %> view</legend>

    <div id="colorpicker" class="control-group">
      <%= f.label :background_color, :class => 'control-label' %><br />
      <div class="controls">
        <%= f.text_field :background_color, :class => 'text_field', :placeholder => '#000000' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :background_image, :class => 'control-label' %>
      <div class="controls">
        <% if @customization.background_image? %>
          <% if @customization.background_image.url =~ /^\/carrierwave/ %>
            <%= image_tag(@customization.background_image.url, :class => 'img-rounded')  %>
          <% else %>
            <%= mpub_image_tag(id: @customization.id, type: :orig, uploader: @customization.background_image, cname: c_name(@customization)) %>
          <% end %>
          <%= f.hidden_field :background_image_cache %>

          <label>
            <%= f.check_box :remove_background_image %>
            Remove background image
          </label>
        <% end %>

        <%= f.file_field :background_image %>
      </div>
    </div>

    <div id="colorpicker" class="control-group">
      <%= f.label :text_color, :class => 'control-label' %><br />
      <div class="controls">
        <%= f.text_field :text_color, :class => 'text_field', :placeholder => '#000000' %>
      </div>
    </div>

    <div class="action-group">
      <%= f.submit 'Save View', :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', root_url, :class => 'btn' %>
    </div>

  </fieldset>
<% end %>
