<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @customization.user_id %>
</p>

<p>
  <b>Background color:</b>
  <%= @customization.background_color %>
</p>

<p>
  <b>Background Image:</b>
  <%= mpub_image_tag(id: @customization.id, type: :thumb, uploader: @customization.background_image, cname: c_name(@customization)) %>
</p>

<p>
  <b>Text color:</b>
  <%= @customization.text_color %>
</p>


<%= link_to 'Edit', edit_customization_path(@customization) %> |
<%= link_to 'Back', root_url %>
