<div class="span5 offset4">
  <h2>Resend unlock instructions</h2>

  <%= form_for(resource, :as => resource_name, :url => unlock_path(resource_name), :html => { :method => :post }) do |f| %>
    <%= devise_error_messages! %>

    <div class="control-group">
      <div class="controls">
        <%= f.email_field :email, :placeholder => 'Email' %>
      </div>
    </div>

    <div class="action-group">
      <%= f.submit "Resend unlock instructions", :class => 'btn' %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>