production:
  adapter: mysql2
  encoding: utf8
  reconnect: false
  database: <%= mysql_database %>
  pool: 5
  username: <%= mysql_user %>
  password: <%= mysql_password %>
  host: <%= mysql_host %>
