rails_root  = "<%= current_path %>"
pid_file    = "<%= unicorn_pid_dir %>/unicorn.pid"
socket_file = "<%= unicorn_pid_dir %>/unicorn.sock"
log_file    = "<%= unicorn_log_dir %>/unicorn.log"
err_log     = "<%= unicorn_log_dir %>/unicorn_error.log"
old_pid     = pid_file + '.oldbin'

timeout 30
worker_processes <%= unicorn_workers %> # Здесь тоже в зависимости от нагрузки, погодных условий и текущей фазы луны
listen socket_file, :backlog => 1024
pid pid_file
stderr_path err_log
stdout_path log_file

preload_app true # Мастер процесс загружает приложение, перед тем, как плодить рабочие процессы.

GC.copy_on_write_friendly = true if GC.respond_to?(:copy_on_write_friendly=) # Решительно не уверен, что значит эта строка, но я решил ее оставить.

before_exec do |server|
  ENV["BUNDLE_GEMFILE"] = "#{rails_root}/Gemfile"
end

before_fork do |server, worker|
  # Перед тем, как создать первый рабочий процесс, мастер отсоединяется от базы.
  defined?(ActiveRecord::Base) && ActiveRecord::Base.connection.disconnect!

  # Ниже идет магия, связанная с 0 downtime deploy.
  #old_pid = "#{server.config[:pid]}.oldbin"
  if File.exists?(old_pid) && server.pid != old_pid
    begin
      Process.kill("QUIT", File.read(old_pid).to_i)
    rescue Errno::ENOENT, Errno::ESRCH
      # someone else did our job for us
    end
  end
end

after_fork do |server, worker|
  begin
    worker.user('emna', 'emna') if Process.euid == 0

    # После того как рабочий процесс создан, он устанавливает соединение с базой.
    defined?(ActiveRecord::Base) && ActiveRecord::Base.establish_connection

    #old_pid = "#{server.config[:pid]}.oldbin"
    if File.exists?(old_pid) && server.pid != old_pid
      begin
        # after this all request will be processed by new workers
        Process.kill("WINCH", File.read(old_pid).to_i)
        sleep 0.1
        # send stop for the old master
        Process.kill("QUIT", File.read(old_pid).to_i)
      rescue Errno::ENOENT, Errno::ESRCH
      end
    end

    child_pid = server.config[:pid].sub(".pid", ".#{worker.nr}.pid")
    system("echo #{Process.pid} > #{child_pid}")
  rescue => e
    puts "[#{Process}]: #{e.message}\n"
    puts "[#{Process}]: #{e.backtrace.join("\n")}"
  end
end
