<table class="table table-hover sortable">
  <thead>
    <tr>
      <th><%= sortable "name", "Name", "users" %></th>
      <th><%= sortable "email", "Email", "users" %></th>
      <%- if can? :show, Role %>
        <th>Role</th>
      <%- end %>
      <%- if can? :show, Company %>
        <th><%= sortable "company_id", "Company", "users" %></th>
      <%- end %>
      <th><%= sortable "created_at", "Signed Up", "users" %></th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.name, user %></td>
        <td><%= user.email %></td>
        <%- if can? :show, Role %>
        <td>
          <ul>
          <%- user.roles.each do |role| %>
            <li><%= role.name.humanize %></li>
          <%- end %>
          </ul>
        </td>
        <%- end %>
        <% if can? :show, Company %>
          <td><%= @companies[user.company_id] %></td>
        <% end %>
        <td><%= user.created_at.to_date %></td>
        <td class="list-actions">
          <%= link_to('✓', edit_user_path(user), :class => 'btn btn-mini') if can? :edit, User %>&nbsp;
          <%= link_to('×', user, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini btn-danger') if can? :destroy, User %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @users %>
