<table class="table">
  <tbody>
    <tr>
      <td>Name:</td>
      <td><%= @user.name %></td>
    </tr>
    <tr>
      <td>Email:</td>
      <td><%= @user.email %></td>
    </tr>
  <% if can? :show, Role %>
    <tr>
      <td>Role:</td>
      <td>
        <ul>
        <%- @user.roles.each do |role| %>
          <li><%= role.name.humanize %></li>
        <%- end %>
        </ul>
      </td>
    </tr>
  <% end %>
  <% if can? :show, Company %>
    <tr>
      <td>Company:</td>
      <td><%= @user.company.name if @user.company %></td>
    </tr>
  <% end %>
    <tr>
      <td>User Token:</td>
      <td><%= @user.user_token %></td>
    </tr>
  <% if can? :manage_device_udid, User  %>
    <tr>
      <td>Device UDID</td>
      <td><%= @user.device_udid %></td>
    </tr>
  <% end %>
  <% if can? :see_timestamps, User %>
    <tr>
      <td>Created at:</td>
      <td><%= @user.created_at %></td>
    </tr>
    <tr>
      <td>Last sign in:</td>
      <td><%= @user.last_sign_in_at %></td>
    </tr>
    <tr>
      <td>Data updated at:</td>
      <td><%= @user.api_updated_at %></td>
    </tr>
    <tr>
      <td>Sign in count:</td>
      <td><%= @user.sign_in_count %></td>
    </tr>
  <% end %>
  </tbody>
</table>