<div class="control-group">
  <%= f.label :name, 'Account Name', :class => 'control-label' %>
  <div class="controls">
    <%= f.text_field :name, :placeholder => 'Account Name' %>
  </div>
</div>

<div class="control-group">
  <%= f.label :email, 'Email', :class => 'control-label' %>
  <div class="controls">
    <%= f.email_field :email, :placeholder => 'Email' %>
  </div>
</div>

<div class="control-group">
<% if can? :show, Role %>
  <label for="role_ids" class="control-label">Role</label>
  <div class="controls">
  <% @roles.each do |role| %>
    <%= hidden_field_tag "user[role_ids][]", nil %>
    <%= radio_button_tag "user[role_ids][]", role.id, @user.role_ids.include?(role.id), id: dom_id(role) %>
    <%= label_tag dom_id(role), role.name.humanize, :class => 'radio inline' %><br />
  <% end %>
  </div>
<% end %>
</div>

<% if can? :manage, Company %>
<div class="control-group">
  <%= f.label :company_id, "Company", :class => 'control-label' %>
  <div class="controls">
    <%= f.collection_select :company_id, Company.order(:name), :id, :name, :prompt => 'Select company' %>
  </div>
</div>
<% end %>

<% if can? :manage_device_udid, User %>
<div class="control-group">
  <%= f.label :device_udid, :class => 'control-label' %>
  <div class="controls">
    <%= f.text_field :device_udid, :placeholder => 'iPhone/iPad UDID' %>
  </div>
</div>
<% end %>

<%= f.fields_for :user_profile do |ff| %>
  <div class="control-group">
    <%= ff.label :avatar, "Photo", :class => 'control-label' %>
    <div class="controls">
      <% if @user.user_profile.avatar? %>
        <% if @user.user_profile.avatar.url =~ /^\/carrierwave/ %>
          <%= image_tag(@user.user_profile.avatar.thumb.url, :class => 'img-rounded')  %>
        <% else %>
          <%= mpub_image_tag(id: @user.user_profile.id, type: :thumb, uploader: @user.user_profile.avatar, cname: c_name(@user.user_profile)) %>
        <% end %>
        <%= ff.hidden_field :avatar_cache %>
      <% end %>

      <%= ff.file_field :avatar %>
    </div>
  </div>

  <% if @user.user_profile.avatar? %>
    <div class="control-group">
      <%= ff.label :remove_avatar, :class => 'control-label' %>
      <div class="controls">
        <%= ff.check_box :remove_avatar, :class => 'checkbox' %>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= ff.label :full_name, :class => 'control-label' %>
    <div class="controls">
      <%= ff.text_field :full_name, :placeholder => 'Full name' %>
    </div>
  </div>

  <div class="control-group">
    <%= ff.label :phone, :class => 'control-label' %>
    <div class="controls">
      <%= ff.text_field :phone, :placeholder => '+xxx (xxx) xxxxxx' %>
    </div>
  </div>

  <div class="control-group">
    <%= ff.label :fax, :class => 'control-label' %>
    <div class="controls">
      <%= ff.text_field :fax, :placeholder => '+xxx (xxx) xxxxxx' %>
    </div>
  </div>

  <div class="control-group">
    <%= ff.label :info, :class => 'control-label' %><br />
    <div class="controls">
      <%= ff.text_area :info, rows: 4, :class => "span4", :placeholder => 'Information' %>
    </div>
  </div>

  <div class="control-group">
    <%= ff.label :address, :class => 'control-label' %><br />
    <div class="controls">
      <%= ff.text_area :address, rows: 4, :class => "span4", :placeholder => 'Address information' %>
    </div>
  </div>
<% end %>
