<% title "#{controller.action_name.capitalize} #{@user == @current_user ? 'Your account settings' : "User"}" %>

<%= form_for setup_user(@user), :html => { :multipart => true, :method => :put, :class => 'form-horizontal' }, :validate => true do |f| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> <%= @user == @current_user ? 'Your account settings' : "user #{@user.name}" %></legend>
    <%= f.error_messages %>


    <%= render :partial => 'user_fields', :locals => { :f => f } %>

    <div class="control-group">
      <%= f.label :password, 'Password', :class => 'control-label' %>
      <div class="controls">
        <%= f.password_field :password, :autocomplete => "off", :placeholder => '(Leave blank if...)' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :password_confirmation, 'Password confirmation', :class => 'control-label' %>
      <div class="controls">
        <%= f.password_field :password_confirmation, :autocomplete => "off", :placeholder => '(Leave blank if...)' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :current_password, 'Current password', :class => 'control-label' %>
      <div class="controls">
        <%= f.password_field :current_password, :autocomplete => "off", :placeholder => '(Current password confirm)' %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to('Back', users_path, :class => 'btn') if can? :show, User %>
    </div>
  </fieldset>
<% end %>
