<% title "#{controller.action_name.capitalize} user" %>

<%= form_for setup_user(@user), :html => { :multipart => true, :class => 'form-horizontal' }, :validate => true do |f| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> user</legend>
    <%= f.error_messages %>

    <%= render :partial => 'user_fields', :locals => { :f => f } %>

    <div class="control-group">
      <%= f.label :password, 'Password', :class => 'control-label' %>
      <div class="controls">
        <%= f.password_field :password, :autocomplete => "off", :placeholder => 'Password' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :password_confirmation, 'Password confirmation', :class => 'control-label' %>
      <div class="controls">
        <%= f.password_field :password_confirmation, :autocomplete => "off", :placeholder => 'Password' %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit 'Register', :class => 'btn btn-primary' %>
      <%= link_to("Back", users_path, :class => 'btn') if can? :show, User %>
    </div>
  </fieldset>
<% end %>
