<% title 'User' %>

<div class="tabbable">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab">User Info</a></li>
    <li><a href="#tab2" data-toggle="tab">Profile Info</a></li>
    <li><a href="#tab3" data-toggle="tab">Categories</a></li>
    <li><a href="#tab4" data-toggle="tab">SubCategories</a></li>
    <li><a href="#tab5" data-toggle="tab">Contents</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab1">
      <%= render "user_info" %>
    </div>
    <div class="tab-pane" id="tab2">
      <%= render "profile_info" %>
    </div>
    <div class="tab-pane" id="tab3">
      <%= link_to "New Category", new_category_path, :class => 'btn btn-primary' %>
      <%= content_tag :div, render(partial: "categories/list_admin"), :id => "categories_list" %>
    </div>
    <div class="tab-pane" id="tab4">
      <%= link_to "New Sub Category", new_sub_category_path, :class => 'btn btn-primary' %>
      <%= content_tag :div, render(partial: "sub_categories/list_admin"), :id => "sub_categories_list" %>
    </div>
    <div class="tab-pane" id="tab5">
      <%= link_to "Add Content", new_content_path, :class => 'btn btn-primary' %>
      <%= content_tag :div, render(partial: "contents/list_admin"), :id => "contents_list" %>
    </div>
  </div>
</div>
