<div class="span4 offset4">
  <h2>Change your password</h2>

  <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
    <%= devise_error_messages! %>
    <%= f.hidden_field :reset_password_token %>

    <div class="control-group">
      <div class="controls">
        <%= f.password_field :password, :placeholder => 'New password' %>
      </div>
    </div>

    <div class="control-group">
      <div class="controls">
        <%= f.password_field :password_confirmation, :placeholder => 'Confirm new password' %>
      </div>
    </div>

    <div class="action-group">
      <%= f.submit "Change my password", :class => 'btn' %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>