<div class="span4 offset4">
  <h2>Forgot your password?</h2>

  <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
    <%= devise_error_messages! %>

    <div class="control-group">
      <div class="controls">
        <%= f.email_field :email, :placeholder => 'Email' %>
      </div>
    </div>

    <div class="action-group">
      <%= f.submit "Send me reset password instructions", :class => 'btn' %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>