upstream <%= application %>_server {
   server unix:<%= shared_path %>/pids/unicorn.sock fail_timeout=0;
}

server {
    listen   80 deferred;
    listen   443 ssl;

    client_max_body_size 1G;

    server_name  localhost;

    keepalive_timeout 5;

    #ssl  on;
    ssl_certificate  /etc/ssl/certs/<%= application %>.crt;
    ssl_certificate_key  /etc/ssl/private/<%= application %>.key;

    ssl_session_timeout  5m;

    ssl_protocols  SSLv3 TLSv1;
    ssl_ciphers  ALL:!ADH:!EXPORT56:RC4+RSA:+HIGH:+MEDIUM:+LOW:+SSLv3:+EXP;
    ssl_prefer_server_ciphers   on;

    access_log  /var/log/nginx/<%= application %>.access.log;
    error_log  /var/log/nginx/<%= application %>.error.log;

    root <%= current_path %>/public;

    try_files $uri/index.html $uri.html $uri @<%= application %>;

    location @<%= application %> {
        proxy_pass http://<%= application %>_server; # Часть после http:// должна полностью соответствовать имени в блоке upstream выше.
        include  /etc/nginx/proxy.conf;
        proxy_set_header X-Forwarded-Proto https;
    }

    error_page 500 502 503 504 /500.html;

    location = /500.html {
       root <%= current_path %>/public;
    }
}
