<% present @user_profile do |user_profile_presenter| %>
  <div id="profile">
    <%= user_profile_presenter.avatar %>
    <h1><%= user_profile_presenter.linked_name %></h1>
    <dl>
      <dt>Username:</dt>
      <dd><%= user_profile_presenter.full_name %></dd>
      <dt>Member Since:</dt>
      <dd><%= user_profile_presenter.member_since %></dd>
      <dt>Phone:</dt>
      <dd><%= user_profile_presenter.phone %></dd>
      <dt>Fax:</dt>
      <dd><%= user_profile_presenter.fax %></dd>
      <dt>Info:</dt>
      <dd><%= user_profile_presenter.info %></dd>
      <dt>Address:</dt>
      <dd><%= user_profile_presenter.address %></dd>
    </dl>
  </div>
<% end %>
