<%= form_for(@contact, :html => { :class => 'form-horizontal' }) do |f| %>
  <%= f.error_messages %>

  <fieldset>
    <legend>
      <h2>CONTACT US</h2>
      <p>Please use the form below to contact us.</p>
    </legend>


    <div class="control-group">
      <%= f.label :company_id, "Company", :class => 'control-label' %>
      <div class="controls">
        <%= f.collection_select :company_id, Company.order(:name), :id, :name, :prompt => 'Select company' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :first_name, 'First Name', :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :first_name, :placeholder => 'First Name' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :second_name, 'Second Name', :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :second_name, :placeholder => 'Second Name' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :email, 'Email', :class => 'control-label' %>
      <div class="controls">
        <%= f.email_field :email, :placeholder => 'Email' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :phone, 'Phone', :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :phone, :placeholder => 'Phone' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :message, 'Message', :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :message, rows: 4, :class => "span4", :placeholder => 'Your message' %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit 'Send Message', :class => 'btn btn-primary' %>
    </div>

  </fieldset>
<% end %>
