<table class="table table-condensed table-striped sortable">
  <tr>
    <% if @is_admin %><th><%= sortable "company_id", "Company", "contacts" %></th><% end %>
    <th><%= sortable "first_name", "First name", "contacts" %></th>
    <th><%= sortable "second_name", "Second name", "contacts" %></th>
    <th><%= sortable "device_udid", "UDID", "contacts" %></th>
    <th><%= sortable "email", "Email", "contacts" %></th>
    <th><%= sortable "phone", "Phone", "contacts" %></th>
    <th>Message</th>
    <th><%= sortable "created_at", "Sent At", "contacts" %></th>
    <th></th>
  </tr>

<% @contacts.each do |contact| %>
  <tr>
    <% if @is_admin %><td><%= @companies_hash[contact.company_id] %></td><% end %>
    <td><%= contact.first_name %></td>
    <td><%= contact.second_name %></td>
    <td><%= truncate(contact.device_udid, :length => 20) %></td>
    <td><%= contact.email %></td>
    <td><%= contact.phone %></td>
    <td><%= truncate(contact.message, :length => 150) %></td>
    <td><%= contact.created_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
    <td class="list-actions">
      <div class="btn-group">
        <ul class="inline inline-block">
          <li><%= link_to(iconize_show, contact) if can? :show, Contact %></li>
          <li><%= link_to(iconize_destroy, contact, method: :delete, data: { confirm: 'Are you sure?' }) if can? :destroy, Contact %></li>
        </ul>
      </div>
    </td>
  </tr>
<% end %>
</table>