<p>
  <b>Company:</b>
  <%= @companies_hash[@contact.company_id] %>
</p>

<p>
  <b>First name:</b>
  <%= @contact.first_name %>
</p>

<p>
  <b>Second name:</b>
  <%= @contact.second_name %>
</p>

<p>
  <b>Device UDID:</b>
  <%= @contact.device_udid %>
</p>

<p>
  <b>Email:</b>
  <%= @contact.email %>
</p>

<p>
  <b>Phone:</b>
  <%= @contact.phone %>
</p>

<p>
  <b>Message:</b>
  <pre><%= @contact.message %></pre>
</p>

<p>
  <b>Created At:</b>
  <%= @contact.created_at %>
</p>

<div class="form-actions">
  <%= link_to 'Back', contacts_path, :class => 'btn' %>
</div>

