<%= form_for(@company, :html => { :class => 'form-horizontal' }) do |f| %>
  <%= f.error_messages %>

  <fieldset>
    <legend><%= controller.action_name.capitalize %> company</legend>

    <div class="control-group">
      <%= f.label :name, 'Company Name', :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :name, :placeholder => 'Company Name' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :avatar, "Company Logo", :class => 'control-label' %>
      <div class="controls">
        <% if @company.avatar? %>
          <% if @company.avatar.url =~ /^\/carrierwave/ %>
            <%= image_tag(@user.user_profile.avatar.thumb.url, :class => 'img-rounded')  %>
          <% else %>
            <%= mpub_image_tag(id: @company.id, type: :thumb, uploader: @company.avatar, cname: c_name(@company)) %>
          <% end %>
          <%= f.hidden_field :avatar_cache %>
        <% end %>

        <%= f.file_field :avatar %>
      </div>
    </div>

    <% if @company.avatar? %>
      <div class="control-group">
        <%= f.label :remove_avatar, :class => 'control-label' %>
        <div class="controls">
          <%= f.check_box :remove_avatar, :class => 'checkbox' %>
        </div>
      </div>
    <% end %>

    <div class="control-group">
      <%= f.label :phone, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :phone, :placeholder => '+xxx (xxx) xxxxxx' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :fax, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :fax, :placeholder => '+xxx (xxx) xxxxxx' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :website, :class => 'control-label' %><br />
      <div class="controls">
        <%= f.text_field :website, :class => 'text_field', :placeholder => 'http://example.com' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :info, :class => 'control-label' %><br />
      <div class="controls">
        <%= f.text_area :info, rows: 4, :class => "span4", :placeholder => 'Company information' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :address, :class => 'control-label' %><br />
      <div class="controls">
        <%= f.text_area :address, rows: 4, :class => "span4", :placeholder => 'Address information' %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit 'Create', :class => 'btn btn-primary' %>
      <%= link_to("Back", companies_path, :class => 'btn') if can? :show, Company %>
    </div>

  </fieldset>

<% end %>
