<table class="table table-condensed table-striped">
  <tr>
    <th>Avatar</th>
    <th>Name</th>
    <th>Website</th>
    <th>Phone</th>
    <th>Info</th>
    <th></th>
  </tr>

<% @companies.each do |company| %>
  <tr>
    <td>
      <% if company.avatar.present? %>
        <%= mpub_image_tag(id: company.id, type: :thumb, uploader: company.avatar, cname: c_name(company)) %>
      <% else %>
        <%= image_tag("defaults/avatar.png", class: "avatar") %>
      <% end %>
    </td>
    <td><%= company.name %></td>
    <td><%= link_to(company.website, url_with_protocol(company.website)) %></td>
    <td><%= company.phone %></td>
    <td><%= company.info %></td>
    <td class="list-actions">
      <div class="btn-group">
        <ul class="inline inline-block">
          <li><%= link_to(iconize_show, company) if can? :show, Company %></li>
          <li><%= link_to(iconize_edit, edit_company_path(company)) if can? :edit, Company %></li>
          <li><%= link_to(iconize_destroy, company, method: :delete, data: { confirm: 'Are you sure?' }) if can? :destroy, Company %></li>
        </ul>
      </div>
    </td>
  </tr>
<% end %>
</table>

