<% present @company do |company_presenter| %>
  <div id="profile">
    <%= company_presenter.avatar %>
    <h1><%= company_presenter.linked_name %></h1>
    <dl>
      <dt>Member Since:</dt>
      <dd><%= company_presenter.member_since %></dd>
      <dt>Phone:</dt>
      <dd><%= company_presenter.phone %></dd>
      <dt>Fax:</dt>
      <dd><%= company_presenter.fax %></dd>
      <dt>Website URL:</dt>
      <dd><%= company_presenter.website %></dd>
      <dt>Organization Info:</dt>
      <dd><%= company_presenter.info %></dd>
      <dt>Address:</dt>
      <dd><%= company_presenter.address %></dd>
    </dl>
  </div>
<% end %>

<div class="form-actions">
  <% if can? :edit, Company %>
    <%= link_to 'Edit', edit_company_path(@company), :class => 'btn' %> |
  <% end %>

  <%= link_to 'Back', companies_path, :class => 'btn' %>
</div>
