<%= form_for(@sub_category, :html => { :class => 'form-horizontal' }) do |f| %>
  <%= f.error_messages %>

  <fieldset>
    <legend><%= controller.action_name.capitalize %> sub category</legend>

    <div class="control-group">
      <%= f.label :category_name, :class => 'control-label' %><br />
      <div class="controls">
        <%= f.text_field :category_name, data: { autocomplete_source: @categories_array }, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :name, :class => 'control-label' %><br />
      <div class="controls">
        <%= f.text_field :name, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :description, :class => 'control-label' %><br />
      <div class="controls">
        <%= f.text_area :description, rows: 4, :class => "span4" %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :art, "Icon", :class => 'control-label' %>
      <div class="controls">
        <%= f.file_field :art %>

        <% if @sub_category.art? %>
          <div>
            <% if @sub_category.id %>
              <%= mpub_image_tag(id: @sub_category.id, type: :thumb, uploader: @sub_category.art, cname: c_name(@sub_category)) %>
            <% else %>
              <%= image_tag(@sub_category.art.thumb.url, :class => 'img-rounded')  %>
            <% end %>
          </div>
          <%= f.hidden_field :art_cache %>
        <% end %>
      </div>
    </div>

    <div class="action-group">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <% if current_user.has_role? :admin %>
        <%= link_to 'Cancel', user_url(:id => User.current.id), :class => 'btn' %>
      <% else %>
        <%= link_to 'Cancel', sub_categories_path, :class => 'btn' %>
      <% end %>
    </div>
  </fieldset>
<% end %>
