<table class="table table-hover sortable">
  <tr>
    <th>Icon</th>
    <th>Info</th>
    <th></th>
  </tr>

<% @sub_categories.each do |sub_category| %>
  <tr class="sub_category_<%= sub_category.id %> <%= "deactivated" if !sub_category.active %>">
    <td>
      <% if current_user.has_role? :admin %>
        <%= mpub_image_tag(id: sub_category.id, type: :thumb, uploader: sub_category.art, cname: c_name(sub_category)) %>
      <% else %>
        <%= link_to(mpub_image_tag(id: sub_category.id, type: :thumb, uploader: sub_category.art, cname: c_name(sub_category)), [sub_category, :contents]) %>
      <% end %>
    </td>
    <td>
      <div class='name'>
        <b>
          <% if @contentable.blank? %>
            <%= @categories_hash[sub_category.category_id] %> ->
          <% end %>
          <%= sub_category.name %>
        </b>
      </div>
      <div class='description'>
        <%= sub_category.description %>
      </div>
    </td>
    <td>
      <div class="btn-group">
        <%= link_to(iconize_edit_text, edit_sub_category_path(sub_category), :class => 'btn btn-mini') if can? :edit, SubCategory %>
        <%= link_to(
              iconize_is_active_text(sub_category.active),
              activate_sub_category_path(sub_category),
              method: :put,
              remote: true,
              :class => 'activate_link btn btn-mini btn-info'
            ) if can? :activate, SubCategory %>
        <%= link_to(iconize_destroy_text, sub_category, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini btn-danger') if can? :destroy, SubCategory %>
      </div>
    </td>
  </tr>
<% end %>
</table>
