$('.sub_category_<%= @sub_category.id %> a.activate_link').html("<%= j iconize_is_active_text(@sub_category.active) %>");
$('.sub_category_<%= @sub_category.id %> a img').attr('src', "<%= mpub_image_url(id: @sub_category.id, type: [:thumb, :sprite], uploader: @sub_category.art, cname: c_name(@sub_category)) %>")

$('tr.sub_category_<%= @sub_category.id %>').toggleClass("deactivated", <%= !@sub_category.active %>);
