// $('.show_active_deactive').bind('ajax:success', function() {
//   <% if @active %>
//     $('a.show_active_deactive').text("Show Deactivated");
//     $('a.show_active_deactive').prop("href", "<%= sub_categories_url(active: false) %>");
//   <% else %>
//     $('a.show_active_deactive').text("Show Activated");
//     $('a.show_active_deactive').prop("href", "<%= sub_categories_url(active: true) %>");
//   <% end %>

//   $('table').remove();

//   $('#sub_categories_list').html("<%= j render 'list' %>")
//   <% unless @contents.blank? %>
//     $('#contents_list').html("<%= j render 'contents/list' %>")
//   <% end %>
// });

$('#sub_categories_list').html('<%=j render('list') %>');
