<% title "Sub Categories List" %>

<% if can? :create, SubCategory %>
  <% new_item "New Sub Category", new_sub_category_path %>
<% end %>

<% if can? :create, Content %>
  <% new_item "Add Content", [:new, @contentable, :content] %>
<% end %>

<%= content_tag :div, render('list'), :id => "sub_categories_list" unless @sub_categories.blank? %>

<%= content_tag(:div, render('contents/list'), :id => "contents_list") unless @contents.blank? %>
