<p>
  <b>Category:</b>
  <%= @categories_hash[@sub_category.category_id] %>
</p>

<p>
  <b>Name:</b>
  <%= @sub_category.name %>
</p>

<p>
  <b>Description:</b>
  <%= @sub_category.description %>
</p>

<p>
  <b>Icon:</b>
  <br/>
  <%= mpub_image_tag(id: @sub_category.id, type: :orig, uploader: @sub_category.art, cname: c_name(@sub_category)) %>
</p>

<div class="form-actions">
  <% if can? :edit, SubCategory %>
    <%= link_to 'Edit', edit_sub_category_path(@sub_category), :class => 'btn' %> |
  <% end %>
  <%= link_to 'Back', sub_categories_path, :class => 'btn' %>
</div>