<div class="span4 offset4">
  <h2>Sign in</h2>

  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
    <div class="control-group">
      <div class="controls">
        <%= f.text_field :email, :placeholder => 'Login' %>
      </div>
    </div>

    <div class="control-group">
      <div class="controls">
        <%= f.password_field :password, :autocomplete => 'off', :placeholder => 'Password' %>
      </div>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="control-group">
        <%= f.check_box :remember_me, :class => "checkbox" %>
        <%= f.label :remember_me, :style => 'display: inline-block;' %>
      </div>
    <% end -%>

    <div class="action-group"><%= f.submit "Sign in", :class => 'btn' %></div>
  <% end %>

  <%= render "devise/shared/links" %>

</div>