/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery-minicolors
 *= require chosen
 *= require_tree .
 */

// .content {
//   background-color: #eee;
//   padding: 20px;
//   margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
//   -webkit-border-radius: 0 0 6px 6px;
//   -moz-border-radius: 0 0 6px 6px;
//   border-radius: 0 0 6px 6px;
//   -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
//   -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
//   box-shadow: 0 1px 2px rgba(0,0,0,.15);
// }

/* Style for sortable fields*/

.sortable th {
  a {
    img {
      border: none;
    }
    color: #000000;
  }
  .current {
    padding-right: 12px;
    background-repeat: no-repeat;
    background-position: right center;
  }
  .asc {
    background-image: url(up_arrow.gif);
  }
  .desc {
    background-image: url(down_arrow.gif);
  }
}
