<%= form_for(@category, :html => { :multipart => true, :class => 'form-horizontal' }) do |f| %>
  <%= f.error_messages %>

  <fieldset>
    <legend><%= controller.action_name.capitalize %> category</legend>

    <div class="control-group">
      <%= f.label :name, :class => 'control-label' %><br />
      <div class="controls">
        <%= f.text_field :name, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :art, "Icon", :class => 'control-label' %>
      <div class="controls">
        <%= f.file_field :art %>

        <% if @category.art? %>
          <div>
            <% if @category.id %>
              <%= mpub_image_tag(id: @category.id, type: :thumb, uploader: @category.art, cname: c_name(@category)) %>
            <% else %>
              <%= image_tag(@category.art.thumb.url, :class => 'img-rounded')  %>
            <% end %>
          </div>
          <%= f.hidden_field :art_cache %>
        <% end %>
      </div>
    </div>

    <div class="action-group">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <% if current_user.has_role? :admin %>
        <%= link_to 'Cancel', user_url(:id => User.current.id), :class => 'btn' %>
      <% else %>
        <%= link_to 'Cancel', categories_path, :class => 'btn' %>
      <% end %>
    </div>
  </fieldset>
<% end %>
