<%= galery 3, @categories do |id| %>
  <div class="category_<%= @chash[id].id %>">
    <% if @chash[id].active %>
      <%= link_to(mpub_image_tag(id: id, type: :thumb, uploader: @chash[id].art, cname: c_name(@chash[id])), sub_categories_url(:category_id => @chash[id].id), :class => 'lllll') %>
    <% else %>
      <%= link_to(mpub_image_tag(id: id, type: [:thumb, :sprite], uploader: @chash[id].art, cname: c_name(@chash[id])), sub_categories_url(:category_id => @chash[id].id), class: 'lllll') %>
    <% end %>
    <div class="name">
      <b><%= @chash[id].name %></b>&nbsp;&nbsp;&nbsp;
      <%= link_to(iconize_edit, edit_category_path(@chash[id])) if can? :edit, Category %>
      <%= link_to(iconize_is_active(@chash[id].active), activate_category_path(@chash[id]), method: :put, remote: true, class: "activate_link") if can? :activate, Category %>
      <%= link_to(iconize_destroy, @chash[id], method: :delete, data: { confirm: 'Are you sure?' }) if can? :destroy, Category %>
    </div>
  </div>
<% end %>