<table class="table table-hover sortable">
  <tr>
    <th>Icon</th>
    <th>Info</th>
    <th></th>
  </tr>

<% @categories.each do |category| %>
  <tr>
    <% if category.active %>
      <td><%= mpub_image_tag(id: category.id, type: :small, uploader: category.art, cname: c_name(category)) %></td>
    <% else %>
      <td><%= mpub_image_tag(id: category.id, type: :small, uploader: category.art, cname: c_name(category)) %></td>
    <% end %>
    <td><%= category.name %></td>
    <td>
      <div class="btn-group">
        <%= link_to(iconize_edit_text, edit_category_path(category), :class => 'btn btn-mini') if can? :edit, Category %>
        <%= link_to(
              iconize_is_active_text(category.active),
              activate_category_path(category),
              method: :put,
              :class => 'btn btn-mini btn-info'
            ) if can? :activate, Category %>
        <%= link_to(iconize_destroy_text, category, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini btn-danger') if can? :destroy, Category %>
      </div>
    </td>
  </tr>
<% end %>
</table>
