$('.category_<%= @category.id %> a.activate_link').html("<%= j iconize_is_active(@category.active) %>");
$('.category_<%= @category.id %> a img').attr('src', "<%= mpub_image_url(id: @category.id, type: [:thumb, :sprite], uploader: @category.art, cname: c_name(@category)) %>")

$('div.category_<%= @category.id %>').parent().toggleClass("deactivated", <%= !@category.active %>);
