<p>
  <b>Name:</b>
  <%= @category.name %>
</p>

<p>
  <b>Art:</b>
  <br/>
  <%= mpub_image_tag(id: @category.id, type: :orig, uploader: @category.art, cname: c_name(@category)) %>
</p>

<div class="form-actions">
  <% if can? :edit, Category %>
    <%= link_to 'Edit', edit_category_path(@category), :class => 'btn' %> |
  <% end %>
  <%= link_to 'Back', categories_path, :class => 'btn' %>
</div>