<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
</a>

<%= link_to "MPUB", root_path, :class => 'brand' %>

<div class="nav-collapse">
  <ul class="nav">
    <% if user_signed_in? %>
      <% if can? :manage, Company %>
        <li>
          <%= link_to('Companies', companies_path) %>
        </li>
      <% end %>
      <% if can? :manage, User %>
        <li>
          <%= link_to('Users', users_path) %>
        </li>
      <% end %>
      <% if can? :manage, Contact %>
        <li>
          <%= link_to('Messages', contacts_path) %>
        </li>
      <% end %>
      <% if content_for?(:new_item) %>
        <%= yield(:new_item) %>
      <% end %>
    <% end %>
  </ul>
  <ul class="nav pull-right">
    <li>
      <%= link_to('Contact Us', contact_us_path) %>
    </li>
    <% if user_signed_in? %>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <i class="icon-user icon-white"></i>
          <b><%= current_user.name %></b>
          <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li>
            <%= link_to('Profile Info', profile_path(current_user.user_profile.id)) %>
          </li>
          <li>
            <%= link_to('Edit account', edit_user_path(current_user.id)) %>
          </li>
          <li>
            <%= link_to('Customization', edit_customization_path(current_user.customization.id)) %>
          </li>
          <li class="divider"></li>
          <li>
            <%= link_to('Logout', logout_path, :method=>'delete') %>
          </li>
        </ul>
      </li>
    <% else %>
      <li>
        <%= link_to('Login', login_path)  %>
      </li>
    <% end %>
  </ul>
</div>
